header {
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    h3 {
        color: #ffffff;
        margin: 0;
        padding: 24px;
        cursor: pointer;
    }
}