<div class="card__container">
    <div class="card__title">
        <h3 (click)="goToEvent(event.id)">{{ event.title }}</h3>
        <h4 (click)="goToEvent(event.id)">{{ event.subtitle }} - {{ event.place }}</h4>
    </div>
    <div class="card__image">
        <img src="sample-image.jpg" (click)="goToEvent(event.id)" />
    </div>
    <div class="card__content">
        <span>{{ event.startDate | date: 'dd/MM/yyyy' }} - {{ event.endDate | date: 'dd/MM/yyyy' }}</span>
        <p [innerHTML]="event.description"></p>
        <div class="card__actions">
            <button (click)="goToEvent(event.id)">Comprar</button>
        </div>
    </div>

</div>